    .cabecalhoPrincipal .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cabecalhoPrincipal-nav {
        display: flex;
        justify-content: space-between;
    }

    .rodapePrincipal-patrocinadores {
        display: flex;
        justify-content: space-between;
    }

    .rodapePrincipal-patrocinadores-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        margin: 5%;
    }

    .rodapePrincipal-contatoForm {
        width: 25%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        display: flex;
    }

    /* flebox:posicionamento na tela  */
    /* aula 2 arrumando o course map */